html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  display: block;
}

button,
input {
  border: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
button,
input,
textarea {
  outline: 0;
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  font-family: "Inria Sans", sans-serif;
  max-width: 1210px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;

  &--big {
    max-width: 1830px;
  }

  &--big2 {
    max-width: 2030px;
  }
}

.section {
  padding: 130px 0;
}

.header {
  overflow-x: hidden;
}

.title {
  transform: translateY(-50%);
  text-transform: uppercase;
  font-family: 700;
  letter-spacing: 1px;
  font-size: 50px;
  top: 380px;

  &--left {
    position: absolute;
    left: -90px;
    transform: rotate(-90deg);
  }

  &--right {
    position: absolute;
    right: -90px;
    transform: rotate(90deg);
  }
}

.body {
  overflow-x: hidden;
  font-family: "Inria Sans", sans-serif;
}

.ds-none {
  display: none;
}

.main {
  overflow-x: hidden;
  font-family: "Inria Sans", sans-serif;
  position: relative;
  top: 86px;
}

.header {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 900;

  &__wrapper {
    height: 80px;
    position: relative;
    padding: 0 15px;
    background-color: #fff;
    width: 100%;
    z-index: 900;
  }

  &__btn-open {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: #fff;
    width: 50px;
    height: 35px;
    cursor: pointer;
  }

  &__btn-open:hover {
    .header__btn-line4 {
      width: 41px;
      height: 4px;
      background-color: #c0ff7b;
      position: absolute;
      z-index: 999;
      border: none;
      top: 2px;
      left: 2px;
      animation: line4 0.5s ease;
    }

    .header__btn-line5 {
      width: 41px;
      height: 4px;
      background-color: #c0ff7b;
      position: absolute;
      z-index: 999;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      animation: line5 1s ease;
      right: 7px;
    }

    .header__btn-line6 {
      width: 41px;
      height: 4px;
      background-color: #c0ff7b;
      position: absolute;
      z-index: 999;
      border: none;
      animation: line6 1.5s ease;
      left: 2px;
      bottom: 2px;
    }
  }

  @keyframes line4 {
    0% {
      width: 1px;
    }

    5% {
      width: 3px;
    }

    10% {
      width: 5px;
    }

    15% {
      width: 7px;
    }

    20% {
      width: 9px;
    }
    25% {
      width: 11px;
    }

    30% {
      width: 13px;
    }

    35% {
      width: 15px;
    }

    40% {
      width: 17px;
    }

    45% {
      width: 19px;
    }

    50% {
      width: 21px;
    }

    55% {
      width: 23px;
    }

    60% {
      width: 25px;
    }

    65% {
      width: 27px;
    }

    70% {
      width: 29px;
    }

    75% {
      width: 31px;
    }

    75% {
      width: 33px;
    }

    80% {
      width: 35px;
    }

    85% {
      width: 37px;
    }

    90% {
      width: 39px;
    }

    95% {
      width: 41px;
    }

    100% {
      width: 41px;
    }
  }

  @keyframes line5 {
    0% {
      width: 0px;
    }

    50% {
      width: 0px;
    }

    52% {
      width: 1px;
    }

    55% {
      width: 3px;
    }

    57% {
      width: 5px;
    }

    60% {
      width: 7px;
    }

    62% {
      width: 9px;
    }

    65% {
      width: 11px;
    }

    67% {
      width: 13px;
    }

    70% {
      width: 15px;
    }

    72% {
      width: 17px;
    }

    75% {
      width: 19px;
    }

    77% {
      width: 21px;
    }

    80% {
      width: 23px;
    }

    82% {
      width: 25px;
    }

    85% {
      width: 27px;
    }

    87% {
      width: 29px;
    }

    90% {
      width: 31px;
    }

    92% {
      width: 33px;
    }

    95% {
      width: 35px;
    }

    97% {
      width: 37px;
    }

    98% {
      width: 39px;
    }

    100% {
      width: 41px;
    }
  }

  @keyframes line6 {
    0% {
      width: 0;
    }

    67% {
      width: 0;
    }

    69% {
      width: 1px;
    }

    71% {
      width: 3px;
    }

    73% {
      width: 5px;
    }

    75% {
      width: 7px;
    }

    77% {
      width: 9px;
    }

    79% {
      width: 11px;
    }

    81% {
      width: 13px;
    }

    83% {
      width: 15px;
    }

    85% {
      width: 17px;
    }

    87% {
      width: 19px;
    }

    89% {
      width: 22px;
    }

    91% {
      width: 24px;
    }

    93% {
      width: 26px;
    }

    94% {
      width: 29px;
    }

    95% {
      width: 31px;
    }

    96% {
      width: 33px;
    }

    97% {
      width: 35px;
    }

    98% {
      width: 37px;
    }

    99% {
      width: 39px;
    }

    100% {
      width: 41px;
    }
  }

  &__btn-line {
    width: 45px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    border: 2px solid #000;
  }

  &__btn-line1 {
    top: 0;
  }

  &__btn-line2 {
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn-line3 {
    bottom: 0;
  }

  &__logo {
    width: 130px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 7.5px;
  }

  &__logo-img {
    width: 43px;
    height: 50px;
    margin: 0 auto;
  }
}

.fs-dp {
  height: 100%;
  z-index: 10;
  position: relative;

  &__wrapper-video {
    position: absolute;
    height: 84vh;
    width: 100vw;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &__wrapper {
    height: 70vh;
    transform: translateY(-65px);
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: calc(100vh / 2 + 50px);
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  &__logo-img {
    width: 335px;
    height: 275px;
    position: relative;
    top: -30px;
  }
}

.decoder {
  z-index: 7;
  position: relative;
  padding: 0;
  margin-top: 120px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/decoder-bg.png");
    background-size: cover;
    width: 100%;
    height: calc(100% + 390px);
    top: -200px;
    z-index: -1;
    background-repeat: no-repeat;
  }

  &__wrapper {
    max-width: 1070px;
    max-height: 1230px;
    width: 800px;
    height: 930px;
    background-image: url("../images/hexagone.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inria Sans", sans-serif;
    margin: 0 auto;
    z-index: 20;
  }

  &__wrapper-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__wrap {
    padding: 210px 60px;
    width: 100%;
  }

  &__wrapper-text {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 45px;
    text-align: center;
  }

  &__wrapper-text2 {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 90px;
  }
}

.elections-bg {
  background-color: #fff;
  width: 100%;
  height: 50px;
}

.elections {
  background-color: #f7f7f7;
  position: relative;
  padding-top: 210px;
  padding-bottom: 210px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    grid-gap: 3px;
  }

  &__item {
    width: 100%;
    position: relative;
  }

  &__item-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__item-line {
    height: 20px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    cursor: pointer;

    &--active {
      background-color: #6dff00;
    }
  }

  &__text {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.expertises {
  position: relative;
  padding-top: 85px;

  &__list {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    justify-content: center;
    grid-gap: 25px;
  }

  &__item {
    width: fit-content;
    max-width: 420px;
    min-height: 790px;
  }

  &__item-wrap {
    display: flex;
    padding: 35px 30px;
    padding-right: 40px;
    flex-direction: column;
  }

  &__item-title {
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: -15px;
  }

  &__item-list-item {
    margin-top: 30px;
    margin-left: 5px;
    max-width: 430px;
    font-size: 26px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/dots.png");
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      left: -15px;
      top: 15px;
      background-size: contain;
    }

    &--big {
      max-width: 100%;
    }

    &:first-child {
      margin-top: 50px;
    }
  }

  &__item1 {
    background-color: #e2e2e2;
    border: 5px solid #000000;
  }

  &__item2 {
    background-color: #fff;
    border: 5px solid #edff00;
  }

  &__item3 {
    background-color: #edff00;
    border: 5px solid #edff00;
  }
}

.projets {
  background-image: url("../images/projets-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 20px;
  padding-top: 170px;

  &__item {
    transition: all 0.3s ease;
  }

  &__item:hover {
    .projets__item-wrap-title {
      color: #e2e2e2;
    }

    .projets__item-line {
      background-color: #e2e2e2;
      height: 2px;
    }
  }

  .title {
    &--left {
      left: -60px;
      top: 280px;
    }

    &--right {
      right: -60px;
      top: 280px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #000;
    padding-bottom: 165px;
    padding-top: 35px;
  }

  &__item-date {
    position: relative;
    top: -20px;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    font-size: 26px;
    right: -5px;
  }

  &__item-img {
    width: 460px;
    height: 280px;
    position: relative;
    top: -15px;
  }

  &__item-wrapper {
    display: flex;
    grid-gap: 70px;
    position: relative;
  }

  &__item-wrap-title {
    font-size: 50px;
    position: relative;
    top: -10px;
    max-width: 790px;
    padding-right: 200px;
    text-transform: uppercase;
    line-height: 1.04;
    position: relative;
    left: -20px;

    &--big {
      padding-right: 130px;
    }

    &--big2 {
      padding-right: 130px;
    }

    &--big3 {
      padding-right: 100px;
    }

    &--big4 {
      padding-right: 100px;
    }
  }

  &__item-wrap-text {
    margin-top: 90px;
    font-size: 29px;
    position: relative;
    left: -20px;
    top: -40px;
    cursor: pointer;
  }

  &__item-arrow {
    position: absolute;
    height: 110px;
    width: 70px;
    right: -30px;
    top: calc(50% - 30px);
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__item-line {
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
  }

  &__item-line1 {
    transform: rotate(45deg);
    top: 30px;
  }

  &__item-line2 {
    transform: rotate(135deg);
    bottom: 45px;
  }
}

.equipe {
  background-color: #f7f7f7;
  padding-top: 150px;
  padding-bottom: 130px;
  position: relative;

  .title--left {
    left: -45px;
    top: 240px;
  }

  .title--right {
    right: -45px;
    top: 240px;
  }

  &__wrapper {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 130px;
    width: fit-content;
  }

  &__list1 {
    grid-gap: 110px;
  }

  &__list2 {
    margin-left: auto;
    position: relative;
    grid-gap: 100px;
  }

  &__item-wrap-img {
    position: relative;
    // border: 1px solid #6dff00;

    &::after {
      content: "";
      position: absolute;
      width: 268px;
      height: 310px;
      background-image: url("../images/equipe/bg.png");
      top: 0;
      left: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.3;
    }
  }

  &__item-img {
    position: relative;
    top: 4px;
    left: 13px;
    width: 261px;
    height: 305px;
  }

  &__item {
    max-width: 400px;
  }

  &__item-name {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  &__item-text {
    text-align: center;
    font-size: 28px;
  }
}

.partners {
  background-color: #edff00;
  padding-top: 210px;
  padding-bottom: 230px;
  position: relative;

  .title {
    top: 250px;

    &--left {
      left: -115px;
    }

    &--right {
      right: -115px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: relative;
    left: -40px;
  }

  &__img1 {
    height: 120px;
    width: 300px;
  }

  &__img2 {
    height: 135px;
    width: 350px;
    position: relative;
    top: -10px;
    left: -10px;
  }

  &__img4 {
    height: 80px;
    width: 300px;
    position: relative;
    top: -75px;
    left: 10px;
  }

  &__img5 {
    height: 140px;
    width: 300px;
    position: relative;
    top: -75px;
    left: 10px;
  }

  &__img6 {
    height: 150px;
    width: 270px;
    position: relative;
    top: -50px;
    left: -5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item:nth-child(1) {
    margin-bottom: 130px;
    position: relative;
    left: -10px;
  }

  &__item:nth-child(2) {
    margin-bottom: 130px;
    position: relative;
    left: 20px;
  }

  &__item:nth-child(3) {
    margin-bottom: 130px;
    left: 60px;
    position: relative;
  }

  &__item:nth-child(4) {
    position: relative;
    left: -10px;
  }

  &__item:nth-child(5) {
    position: relative;
    left: 30px;
  }

  &__item:nth-child(6) {
    left: 80px;
    position: relative;
  }
}

.footer {
  background-color: #f7f7f7;
  padding-top: 90px;
  padding-bottom: 55px;
  position: relative;

  &__green {
    position: absolute;
    height: 35px;
    width: 100vw;
    background-color: #6dff00;
    bottom: 0;
    left: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1500px !important;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
  }

  &__list-second {
    max-width: 610px;
    position: relative;
    right: -35px;
  }

  .form {
    display: block;
    padding: 30px;
    padding-right: 35px;
    padding-bottom: 40px;

    &__text {
      font-size: 26px;
      position: relative;
      left: 5px;
      max-width: 730px;
      margin-bottom: 30px;
    }

    &__input {
      padding: 15px;
      padding-top: 12px;
      padding-left: 25px;
      font-size: 28px;
      border-radius: 15px;
    }

    &__input::placeholder {
      color: #b4b4b4;
    }

    &__input1 {
      width: 425px;
      margin-right: 30px;
    }

    &__input2 {
      width: 80px;
    }
  }

  &__list-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;
    right: -30px;
  }

  &__img {
    width: 55px;
    position: relative;
    left: -75px;
    height: 55px;
  }

  &__list-first-text {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 3px;
  }

  &__list-first-btn {
    padding: 12px 15px;
    font-weight: 700;
    font-size: 26px !important;
    background-color: #edff00;
    border-radius: 15px;
    margin-bottom: 35px;
  }

  &__list-second {
    border: 2px solid #000;
    position: relative;
  }

  &__list-third {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
  }

  &__logo {
    width: 300px;
    height: 90px;
    margin-top: 20px;
  }

  &__list-third-strong {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 5px;
  }

  &__list-third-text {
    font-size: 24px;
    text-align: right;
    letter-spacing: 1px;
    margin-top: 0;
    position: relative;
  }

  &__text {
    font-size: 22px;
    margin-left: auto;
    width: fit-content;
    text-decoration: underline;
    font-style: italic;
    margin-top: 57px;
    // margin-bottom: -20px;
    position: relative;
    left: -103px;
  }
}

.menu {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translateY(-100vh);
  transition: all 0.5s ease;

  &--active {
    transform: translateX(0);
  }

  &__wrapper {
    padding: 25px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/menu-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      background-position: bottom;
    }
  }

  &__list {
    width: fit-content;
    z-index: 10;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-transform: uppercase;
    color: #000;
    font-size: calc(70px * 0.8);
    font-weight: 700;
    text-align: center;
    font-family: "", sans-serif;
    margin: 0 auto;
    width: fit-content;
    transition: all 0.3s ease;
  }

  &__link:hover {
    color: #6dff00;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/arrow-green.png");
      background-repeat: no-repeat;
      background-size: cover;
      top: 20px;
      left: -30px;
      width: 20px;
      height: 40px;
    }
  }

  &__top {
    position: absolute;
    top: 5%;
    left: 0;
  }

  &__top-wrapper {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    width: 100vw;
  }

  &__top-img {
    width: 60px;
    height: 70px;
  }

  &__top-lang {
    display: flex;
  }

  &__top-text:first-child {
    margin-right: 10px;
  }

  &__top-text {
    font-size: calc(20px * 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 30px;
  }

  &__top-text--active {
    text-decoration: underline;
  }

  &__top-text:hover {
    color: #6dff00;
  }

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
  }

  &__line {
    background-color: #030300;
    position: absolute;
    width: 40px;
    height: 1px;
    border-radius: 20px;
    top: 20px;
  }

  &__line1 {
    transform: rotate(45deg);
  }

  &__line2 {
    transform: rotate(135deg);
  }
}

@media (max-width: 2100px) {
  .container {
    &--big2 {
      max-width: 1700px !important;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media (max-width: 1900px) {
  // .expertises {
  //   &__item {
  //     max-width: 400px;
  //     min-height: 800px;
  //   }

  //   &__item-title {
  //     font-size: 52px;
  //   }

  //   &__item-list-item {
  //     font-size: 26px;
  //   }

  //   &__item-list-item::after {
  //     top: 10px;
  //   }
  // }

  // .projets {
  //   &__wrapper {
  //     max-width: 1000px;
  //     margin: 0 auto;
  //   }

  //   &__item-img {
  //     width: 370px;
  //     height: 250px;
  //   }

  //   &__item-wrap-title {
  //     font-size: 52px;
  //   }

  //   &__item-wrap-text {
  //     font-size: 34px;
  //   }

  //   &__item-date {
  //     font-size: 32px;
  //   }
  // }

  // .equipe {
  //   &__wrapper {
  //     max-width: 1200px;
  //     margin: 0 auto;
  //     position: relative;
  //     left: 40px;
  //   }

  //   &__item-wrap-img {
  //     &::after {
  //       width: 223px;
  //       left: 1px;
  //       height: 300px;
  //       background-size: contain;
  //     }
  //   }

  //   &__item-img {
  //     width: calc(361px * 0.6);
  //     height: calc(417px * 0.6);
  //   }

  //   &__item-name {
  //     font-size: 30px;
  //   }

  //   &__item-text {
  //     font-size: 24px;
  //   }
  // }

  .partners {
    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      left: 50px;
    }

    &__item {
      position: static !important;
    }
  }
}

@media (max-width: 1500px) {
  .title {
    font-size: 40px;
  }

  .partners {
    .title--right {
      right: -105px;
    }

    .title--left {
      left: -110px;
    }
  }

  .expertises {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      grid-gap: 15px;
    }

    &__item-list-item::after {
      top: 5px;
      left: -12px;
    }

    &__item {
      max-width: 290px;
      min-height: 500px;
    }

    &__item-wrap {
      padding: 25px 20px;
    }

    &__item-title {
      font-size: 36px;
    }

    &__item-list-item {
      font-size: 20px;
    }
  }
}

@media (max-width: 1400px) {
  .partners {
    padding: 100px 0;

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      left: 0;
    }

    &__item {
      position: static !important;
      max-width: 400px;
    }

    &__list {
      left: 0;
      grid-template-columns: repeat(2, 1fr);
      width: fit-content;
      margin: 0 auto;
    }
  }

  .projets {
    &__wrapper {
      max-width: 870px;
      margin: 0 auto;
    }

    &__item-img {
      width: 360px;
      height: 210px;
    }

    &__item-wrap-title {
      font-size: 36px;
      padding-right: 50px;
    }

    &__item-date {
      font-size: 22px;
    }

    &__item-wrap-text {
      font-size: 26px;
    }

    &__item {
      padding-bottom: 80px;
    }
  }

  .elections {
    padding-bottom: 175px;

    &__item-title {
      font-size: 28px;
    }

    &__list {
      max-width: 940px;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &__text {
      font-size: 25px;
    }

    &__item {
      width: 100%;
      max-width: 312px;
    }
  }
}

@media (max-width: 1300px) {
  .equipe {
    &__item-img {
      width: 235px;
      height: 270px;
      left: 12px;
    }

    &__list1 {
      grid-gap: 70px;
      position: relative;
      left: 40px;
      margin-bottom: 15px;
    }

    &__list2 {
      grid-gap: 70px;
      right: 40px;
    }

    &__item-wrap-img::after {
      width: 240px;
      height: 277px;
    }

    &__item-name {
      font-size: 26px;
    }

    &__item-text {
      font-size: 24px;
    }
  }

  // .partners {
  //   &__item {
  //     position: static !important;
  //     // max-width: 300px;
  //     height: fit-content;
  //   }

  //   &__list {
  //     grid-template-columns: repeat(1, 1fr);
  //   }
  // }

  .footer {
    &__list-second {
      position: relative;
      left: 0;
      max-width: 450px;
    }

    &__wrapper {
      justify-content: space-around;
    }

    &__logo {
      width: 200px;
      height: 60px;
    }

    &__list-third-strong {
      font-size: 22px;
    }

    &__list-third-text {
      font-size: 20px;
    }

    &__list-first-text {
      font-size: 22px;
    }

    &__list-first-btn {
      font-size: 22px !important;
      margin: 0 auto;
      margin-bottom: 20px;
      left: -10px;
      position: relative;
    }

    &__text {
      margin-top: 40px;
      left: -20px;
    }

    .form {
      padding: 20px;
      padding-bottom: 30px;

      &__input1 {
        width: 305px;
        margin-right: 20px;
      }

      &__input2 {
        width: 70px;
      }

      &__input {
        padding: 15px;
      }

      &__text {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .decoder {
    &__wrapper-title {
      font-size: 50px;
    }

    &__wrap {
      padding: 200px 60px;
    }

    &__wrapper-text {
      font-size: 25px;
    }

    &__wrapper {
      height: 850px;
      width: 740px;
    }
  }

  // .footer {
  //   padding: 75px;

  //   &__wrapper {
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);
  //   }

  //   &__list-second {
  //     position: relative;
  //     left: -200px;
  //     width: 600px;
  //     height: 224px;
  //   }

  //   .form {
  //     height: 220px;
  //   }

  //   &__list-first {
  //     position: relative;
  //     top: 270px;
  //   }

  //   &__logo {
  //     margin: 0 auto;
  //   }

  //   &__list-third {
  //     position: relative;
  //     left: 500px;
  //   }
  // }
}

@media (max-width: 1100px) {
  // .footer {
  //   overflow: hidden;

  //   &__wrapper {
  //     width: fit-content;
  //     margin: 0 auto;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: flex-start;
  //   }

  //   &__list-first {
  //     top: 0;
  //     top: 320px;
  //     left: -200px;
  //   }

  //   &__list-second {
  //     left: 0;
  //     top: -270px;
  //   }

  //   &__list-third {
  //     left: 0 !important;
  //     top: -250px;
  //   }

  //   &__logo {
  //     width: 300px !important;
  //     height: 90px !important;
  //     margin: 0;
  //     margin-left: auto;
  //   }

  //   &__text {
  //     position: relative;
  //     margin-top: -120px;
  //     top: -30px;
  //     margin-bottom: -20px;
  //     left: -65px;
  //   }

  //   &__img {
  //     width: 50px;
  //     height: 50px;
  //     top: -30px;
  //     left: -60px;
  //   }
  // }
}

@media (max-width: 990px) {
  .section {
    padding: 100px 0;
  }

  .title {
    top: 300px;
  }

  .elections {
    &__item-title {
      font-size: 24px;
    }

    &__text {
      font-size: 22px;
    }
  }

  .expertises {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      display: grid;
    }

    &__item3 {
      position: relative;
      left: 0;
    }
  }

  // .projets {
  //   &__wrapper {
  //     max-width: 850px;
  //     margin: 0 auto;
  //   }

  //   &__item-wrapper {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   &__item-img {
  //     width: 550px;
  //     height: 375px;
  //   }

  //   &__item-arrow {
  //     top: 130px;
  //   }

  //   &__item-wrap-title {
  //     font-size: 48px;
  //   }

  //   &__item {
  //     padding-bottom: 80px;
  //   }
  // }

  // .equipe {
  //   &__item6,
  //   &__item4,
  //   &__item2 {
  //     position: relative;
  //     left: -100px;
  //   }
  // }

  // .partners {
  //   &__item {
  //     position: static !important;
  //     max-width: 300px;
  //     justify-content: flex-start;
  //     margin-bottom: 0 !important;
  //   }

  //   &__list {
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-gap: 80px;
  //   }
  // }
}

@media (max-width: 900px) {
  .fs-dp {
    &__logo {
      z-index: 100;
      position: absolute;
      width: 400px;
      height: 250px;
    }

    &__logo-img {
      width: 310px;
      height: 250px;
      margin: 0 auto;
    }

    &__wrapper {
      z-index: 100;
    }
  }

  .elections {
    &__item-title {
      font-size: 21.5px;
      letter-spacing: 0;
    }

    &__text {
      font-size: 20px;
    }
  }

  .projets {
    &__wrapper {
      max-width: 600px;
    }

    &__item-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item-wrap-title {
      font-size: 40px;
      margin: -40px 0;
    }

    &__item {
      padding-bottom: 100px;
    }

    &__item-date {
      font-size: 24px;
    }

    &__item-wrap-text {
      font-size: 26px;
    }

    &__item-arrow {
      right: 20px;
    }
  }

  .fs-dp {
    &__logo {
      display: none !important;
    }
  }

  .header {
    z-index: 900;
    position: fixed;

    &__logo-img {
      display: block !important;
    }
  }

  .menu {
    &__link {
      font-size: 50px;
    }

    &__top-wrapper {
      padding: 0 30px;
    }

    &__top-img {
      width: 45px;
      height: 50px;
    }
  }
}

@media (max-width: 800px) {
  .elections-bg {
    height: 0;
  }

  .decoder {
    &::after {
      height: calc(100%);
    }

    &__wrap {
      padding: 130px 60px;
    }

    &__wrapper-title {
      font-size: 44px;
    }

    &__wrapper-text {
      font-size: 20px;
    }

    &__wrapper {
      height: 650px;
      width: 560px;
    }

    &__wrapper-text2 {
      margin-top: 40px;
    }

    &__wrapper-text {
      margin-top: 40px;
    }
  }

  .equipe {
    &__wrapper {
      position: relative;
      left: 0;
    }

    &__item {
      position: static !important;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__list2 {
      transform: translateY(0);
      align-items: center;
      margin-top: 110px;
    }

    &__item4 {
      position: relative !important;
      left: -20px;
    }

    &__item5 {
      position: relative !important;
      left: 20px;
    }

    &__item-name4 {
      left: 35px;
    }

    &__item2,
    &__item3,
    &__item4,
    &__item5,
    &__item6 {
      margin-top: -90px;
    }

    &__item2,
    &__item3 {
      margin-top: -110px;
    }

    &__item5,
    &__item6 {
      margin-top: -80px;
    }
  }

  .partners {
    margin-top: 300px;

    &__item {
      position: static !important;
      max-width: 300px;
      height: fit-content;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 750px) {
  .footer {
    overflow: hidden;

    &__wrapper {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__list-second {
      width: 330px;
    }

    .form {
      padding: 10px;
      height: 190px;

      &__text {
        font-size: 20px;
      }

      &__input1 {
        font-size: 20px;
        padding: 10px;
      }

      &__input1 {
        width: 210px;
      }

      &__input2 {
        width: 50px;
        padding: 10px;
      }
    }

    &__list-first {
      top: 0;
      top: 220px;
      left: -75px;
    }

    &__list-second {
      left: 0;
      top: -270px;
      height: 190px;
    }

    &__list-third {
      left: 0 !important;
      top: -250px;
    }

    &__logo {
      width: 180px !important;
      height: 55px !important;
      margin: 0;
      margin-left: auto;
    }

    &__text {
      position: relative;
      margin-top: -120px;
      top: -30px;
      margin-bottom: -20px;
      left: -35px;
    }

    &__list-third-strong {
      font-size: 20px;
    }

    &__list-third-text {
      font-size: 18px;
    }

    &__img {
      width: 50px;
      height: 50px;
      top: -30px;
      left: -60px;
    }

    &__list-first-text {
      font-size: 20px;
      position: relative;
      left: -18px;
    }

    &__list-first-btn {
      font-size: 20px;
      position: relative;
      left: -10px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 700px) {
  .elections {
    &__item-title {
      font-size: 20px;
      letter-spacing: 0;
      width: fit-content;
      margin: 0 auto;
      height: 70px;
    }

    &__item {
      height: 85px;
    }

    &__wrapper {
      position: relative;
    }

    &__text {
      font-size: 20px;
      width: calc(100% - 120px);
      margin: 0 auto;
      text-align: left;
    }

    &__item-arrow {
      width: 40px;
      height: 70px;
      position: absolute;
      top: 120px;
      cursor: pointer;
    }

    &__item-arrow-line {
      height: 41px;
      width: 1px;
      position: absolute;
      background-color: #5b5b5b;
    }

    &__item-arrow-line1 {
      transform: rotate(45deg);
      top: 0;
    }

    &__item-arrow-line2 {
      transform: rotate(-45deg);
      bottom: 0;
    }

    &__item-arrow-left {
      left: 10px;
    }

    &__item-arrow-right {
      transform: rotate(180deg);
      right: 10px;
    }
  }

  .projets {
    &__wrapper {
      max-width: 500px;
    }

    &__item-wrap-title {
      font-size: 36px;
    }

    &__item {
      padding: 0 10px;
      padding-top: 25px;
      padding-bottom: 75px;
    }

    &__item-date {
      font-size: 22px;
    }

    &__item-wrap-text {
      font-size: 24px;
    }

    &__item-arrow {
      right: 0;
    }
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;

    &--right {
      right: -60px;
    }

    &--left {
      left: -60px;
    }
  }

  .decoder {
    &__wrap {
      padding: 100px 40px;
    }

    &__wrapper-title {
      font-size: 36px;
    }

    &__wrapper-text {
      font-size: 18px;
    }

    &__wrapper {
      height: 530px;
      width: 460px;
    }

    &__wrapper-text2 {
      margin-top: 25px;
    }

    &__wrapper-text {
      margin-top: 20px;
    }
  }

  .projets {
    &__wrapper {
      max-width: 500px;
    }

    &__item-wrap-title {
      font-size: 32px;
    }

    &__item {
      padding: 0 10px;
      padding-top: 25px;
      padding-bottom: 75px;
    }

    &__item-date {
      font-size: 20px;
    }

    &__item-wrap-text {
      font-size: 22px;
    }

    &__item-img {
      width: 300px;
      height: 200px;
    }

    &__item-line {
      width: 40px;
    }

    &__item-line1 {
      top: 40px;
    }

    &__item-line2 {
      bottom: 40px;
    }

    &__item-arrow {
      right: 0;
      top: 100px;
    }
  }

  .menu {
    &__link {
      font-size: 40px;
      margin: 5px 0;
    }

    &__top-wrapper {
      padding: 0 30px;
    }

    &__top-img {
      width: 45px;
      height: 50px;
    }
  }
}

@media (max-width: 500px) {
  .elections-bg {
    height: 0;
  }

  .main {
    position: relative;
    top: -300px;
  }

  .decoder {
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);

    .container {
      padding: 0;
    }

    &::after {
      height: calc(100%);
      display: none;
    }

    &__wrap {
      padding: 70px 20px;
    }

    &__wrapper-title {
      font-size: 25px;
    }

    &__wrapper-text {
      font-size: 16px;
    }

    &__wrapper {
      height: 450px;
      width: 360px;
      background-size: contain !important;
      z-index: 999;
    }

    &__wrapper-text2 {
      margin-top: 15px;
    }

    &__wrapper-text {
      margin-top: 10px;
    }
  }

  .expertises {
    &__item-wrap {
      padding: 30px;
    }

    &__item {
      max-width: 300px;
      min-height: 500px;
    }

    &__item-list-item::after {
      top: 10px;
    }

    &__item-title {
      font-size: 40px;
    }

    &__item-list-item {
      font-size: 22px;
    }

    &__item-list-item:first-child {
      margin-top: 35px;
    }

    &__item-list-item {
      margin-top: 25px;
    }
  }

  .projets {
    &__item-wrap-title {
      font-size: 32px;
    }

    &__item {
      padding: 0 10px;
      padding-top: 25px;
      padding-bottom: 75px;
      margin-left: 20px;
    }

    &__item-date {
      font-size: 20px;
    }

    &__item-wrap-text {
      font-size: 22px;
    }

    &__item-img {
      width: 250px;
      height: 175px;
    }

    &__item-line {
      width: 40px;
    }

    &__item-line1 {
      top: 40px;
    }

    &__item-line2 {
      bottom: 40px;
    }

    &__item-arrow {
      right: 0;
      top: 100px;
    }
  }

  .footer {
    padding-top: 110px;
    margin-top: -300px;

    &__wrapper {
      position: relative;
      left: -20px;
    }

    &__text {
      left: -5px;
    }
  }
}

@media (max-width: 455px) {
  .fs-dp {
    &__logo {
      display: none !important;
    }
  }

  .header {
    z-index: 900;
    position: fixed;

    &__logo-img {
      display: block !important;
    }

    &__btn-open {
      right: 5px;
      top: 10px;
    }

    &__wrapper {
      height: 55px;
    }
  }

  .section {
    padding: 75px 0;
  }

  .container {
    padding: 0 10px;
  }

  .decoder {
    &__wrap {
      padding: 95px 0;
    }

    &__wrapper-title {
      font-size: 32px;
    }

    &__wrapper-text {
      font-size: 18px;
    }

    &__wrapper {
      height: 510px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain !important;
      padding: 0 10px;
    }

    &__wrapper-text {
      margin-top: 15px;
    }
  }

  .elections {
    margin-top: 365px;
    position: relative;
    top: 90px;
    padding-top: 30px;
    margin-bottom: 50px;

    &__item-title {
      font-size: 18px;
    }
  }

  .partners {
    padding: 75px 0;

    &__item {
      max-width: 250px;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .fs-dp {
    &__logo-img {
      width: 250px !important;
      height: 200px !important;
    }

    &__logo {
      margin: 0 auto;
      width: 100%;
    }
  }

  .footer {
    &__wrapper {
      position: relative;
      left: -50px;
    }

    &__text {
      left: 5px;
    }
  }

  .equipe {
    &__item-wrap-img {
      display: flex;
    }

    &__item-text {
      position: absolute;
    }

    &__item-img {
      width: 165px;
      height: 190px;
    }

    &__item-wrap-img::after {
      width: 170px;
      height: 220px;
      top: 1px;
      left: 2px;
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4,
    &__item5,
    &__item6 {
      margin: 0;
      left: 0;
      position: static !important;
      transform: translate(0);
      width: 270px;
      display: flex;
      justify-content: flex-start;
    }

    &__item-text4 {
      right: 0;
      top: 0;
    }

    &__list2 {
      margin-top: 0;
      grid-gap: 0;
      align-items: flex-start;
    }

    &__list1 {
      justify-content: center;
      grid-gap: 0;
    }

    &__item-name {
      font-size: 20px;
      position: absolute !important;
      right: -35px !important;
      top: 30px !important;
      max-width: 120px;
      text-align: left;
    }

    &__item2 {
      position: relative !important;
      left: 0;
      top: 3px;
    }

    &__item3 {
      position: relative !important;
      left: 0;
      top: 7px;
    }

    &__item3 {
      position: relative !important;
      left: 0;
      top: 7px;
    }

    &__item-wrap-img4 {
      display: flex !important;
      justify-self: flex-start !important;
      width: 270px;
      flex-direction: row;
    }

    &__item-name4 {
      position: relative !important;
      left: auto;
      top: 30px !important;
    }

    &__item-wrap-img5 {
      display: block;
      width: 165px;
      position: static;
    }

    &__item-img4 {
      position: absolute;
      top: 4.5px;
      left: 4px;
      width: 165px !important;
      display: block;
      height: 190px;
      max-width: 100% !important;
    }

    &__item4 {
      position: relative !important;
      left: 0;
      top: 12px;
      margin-bottom: 135px;
    }

    &__item5 {
      left: 0;
      position: relative !important;
      top: 6px;
    }

    &__item6 {
      left: 0;
      position: relative !important;
      top: 10px;
    }

    &__item-name2 {
      right: -140px !important;
      width: 120px;
    }

    &__item-text {
      font-size: 20px;
      position: absolute !important;
      right: -35px !important;
      bottom: 70px !important;
      max-width: 120px;
      text-align: left;
    }

    &__item-text4 {
      font-size: 20px;
      position: absolute !important;
      right: 0 !important;
      top: 95px !important;
      max-width: 120px;
      text-align: left;
    }

    &__item-text2 {
      font-size: 20px;
      position: absolute !important;
      right: -52px !important;
      top: 70px !important;
      max-width: 120px;
      text-align: left;
    }

    &__item-text3 {
      font-size: 20px;
      position: absolute !important;
      right: -137px !important;
      top: 70px !important;
      max-width: 120px !important;
      text-align: left;
      width: 120px !important;
    }

    &__item-text5,
    &__item-text6 {
      font-size: 20px;
      position: absolute !important;
      right: -138px !important;
      top: 93px !important;
      max-width: 120px !important;
      text-align: left;
      width: 120px !important;
    }

    &__list {
      transform: translateX(-10px);
    }
  }
}

@media (max-width: 420px) {
  .decoder {
    &__wrap {
      padding: 60px 15px;
    }

    &__wrapper-title {
      font-size: 24px;
    }

    &__wrapper-text {
      font-size: 15px;
    }

    &__wrapper {
      height: 430px;
      width: 330px;
      background-size: contain !important;
    }

    &__wrapper-text {
      margin-top: 12px;
    }
  }

  .decoder {
    &__wrap {
      padding: 85px 0;
    }

    &__wrapper-title {
      font-size: 28px;
    }

    &__wrapper-text {
      font-size: 16px;
    }

    &__wrapper {
      height: 510px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain !important;
      padding: 0 10px;
    }

    &__wrapper-text {
      margin-top: 15px;
    }
  }

  .elections {
    margin-top: 330px;
  }

  .projets {
    &__item-wrap-title {
      font-size: 26px;
      padding: 0 10px;
    }

    &__item {
      padding: 0 10px;
      padding-top: 25px;
      padding-bottom: 75px;
      margin-left: 20px;
    }

    &__item-date {
      font-size: 18px;
    }

    &__item-wrap-text {
      font-size: 20px;
    }

    &__item-img {
      width: 250px;
      height: 175px;
    }

    &__item-line {
      width: 40px;
    }

    &__item-line1 {
      top: 40px;
    }

    &__item-line2 {
      bottom: 40px;
    }

    &__item-arrow {
      right: -20px;
      top: 90px;
    }
  }

  .footer {
    &__wrapper {
      position: relative;
      left: -60px;
    }

    &__text {
      left: 15px;
    }
  }
}

@media (max-width: 399px) {
  .expertises {
    &__item-wrap {
      padding: 30px;
    }

    &__item {
      max-width: 270px;
      min-height: 400px;
    }

    &__item-title {
      font-size: 32px;
    }

    &__item-list-item {
      font-size: 20px;
    }
  }

  .projets {
    &__item-arrow {
      right: -30px;
    }
  }
}

@media (max-width: 386px) {
  .footer {
    &__wrapper {
      position: relative;
      left: -80px;
    }

    &__text {
      left: 25px;
    }
  }
}

@media (max-width: 376px) {
  .decoder {
    &__wrap {
      padding: 70px 0;
    }

    &__wrapper-title {
      font-size: 25px;
    }

    &__wrapper-text {
      font-size: 15px;
    }

    &__wrapper {
      height: 510px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain !important;
      padding: 0 10px;
    }

    &__wrapper-text {
      margin-top: 12px;
    }
  }

  .elections {
    margin-top: 300px;
  }

  .partners {
    &__item {
      max-width: 230px;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer {
    .container--big2 {
      padding: 0 5px !important;
    }

    &__text {
      left: 55px;
    }

    &__wrapper {
      left: -90px;
    }
  }
}
